{% extends 'base.html' %}

{% block meta %}
<title>About Us - The Largest AI Tools Directory</title>
{% endblock %}


{% block body %}



<main role="about">

  <div class="jumbotron ">
    <div class="container">
      <h1 class="display-3">About Us!</h1>
      <p>We are proud to introduce you to the largest AI tools directory on the web. At our core, we are
        passionate about harnessing the power of artificial intelligence to transform industries, businesses, and
        everyday life. Our mission is to provide a comprehensive resource where AI enthusiasts, developers,
        researchers, and businesses can discover, explore, and leverage cutting-edge AI tools and solutions.</p>
      <p><a class="btn btn-success btn-lg" href="/" role="button">Find Your Tool »</a></p>
    </div>
  </div>

  <div class="container my-5">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Our Vision</h2>
        <p>Our vision is to be the go-to platform for anyone seeking AI tools, frameworks, libraries, and technologies.
          We aim to facilitate innovation and collaboration within the AI community by offering a
          curated collection of resources that empower individuals and organizations to build intelligent systems
          and applications.</p>
      
      </div>
      <div class="col-md-4">
        <h2>What Sets Us Apart</h2>
        <p>What distinguishes us from the rest is our commitment to quality and relevance. We continuously update our
          directory to ensure that you have access to the latest AI tools and advancements. Our team of experts
          carefully reviews and categorizes each entry, providing you with a user-friendly experience that helps
          you find the right tools for your AI projects.</p>
        
      </div>
      <div class="col-md-4">
        <h2>Join Us on This AI Journey</h2>
        <p>We invite you to join us on this exciting AI journey. Whether you are a seasoned AI professional or just
          getting started, our directory has something for everyone. Explore, experiment, and innovate with AI
          tools that can shape the future.</p>

      </div>
    </div>



  </div> <!-- /container -->

</main>

<div class="container bar-bottom">
  <div class="bbtext display-6 font2">Ready to Showcase Your AI Innovation? List Your Tool Today! </div>
  <div class="bbbutton"><a class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill font3"
      type="button" href="/addlisting">
      Join the AI Revolution
    </a></div>

</div>

{% endblock %}