{% extends 'base.html' %}

{% block meta %}
<title>Contact</title>
{% endblock %}


{% block body %}



<main role="about">

    <div class="jumbotron ">
        <div class="container">
            <h1 class="display-3">Contact Us!</h1>
            <p>This is a template for a simple marketing or informational website. It includes a large callout called a
                jumbotron and three supporting pieces of content. Use it as a starting point to create something more
                unique.</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
        </div>
    </div>

</main>




<section class=" text-center my-5">
    <div class="container">
      <h1 class="jumbotron-heading">Album example</h1>
      <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
      <p>
        <a href="#" class="btn btn-primary my-2">Main call to action</a>
        <a href="#" class="btn btn-secondary my-2">Secondary action</a>
      </p>
    </div>
  </section>

<div class="container bar-bottom">
    <div class="bbtext display-6 font2">Create an Impact Lets find the tools </div>
    <div class="bbbutton"><a class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill font3"
            type="button">
            Lets Explore
        </a></div>

</div>

{% endblock %}