{% extends 'base.html' %}

{% block meta %}
<title>Disclaimer - The Largest AI Tools Directory</title>
{% endblock %}


{% block body %}



<main role="about">

    <div class="jumbotron ">
        <div class="container">
            <h1 class="display-3">Disclaimer</h1>
            <p>Welcome to The Largest AI Tools Directory. It's important to note that our platform serves as a directory that
              lists AI tools and resources from various sources. While we strive to provide accurate and up-to-date
              information, we want to make it clear that:</p>
            
        </div>
    </div>

</main>

<div class="container my-3">

  <section>
    <h3>Our Role</h3>
    <p>Our role is to compile and showcase AI tools and resources to assist you in finding valuable solutions for
        your AI projects. We do not create or develop these tools ourselves.</p>
</section>

<section>
    <h3>User Responsibility</h3>
    <p>We strongly advise all users to exercise caution and due diligence before proceeding to use any AI tool
        listed on our platform. This includes verifying the tool's compatibility, functionality, and suitability
        for your specific needs.</p>
</section>

<section>
    <h3>Privacy and Security</h3>
    <p>We are not responsible for any privacy breaches, data loss, or security issues that may occur when using
        third-party AI tools. Users are encouraged to review the terms of use, privacy policies, and security
        measures of each tool's respective provider.</p>
</section>

<section>
    <h3>Financial Responsibility</h3>
    <p>We are not liable for any financial transactions, costs, or losses incurred by users when utilizing AI tools
        listed on our platform. Users should exercise caution when engaging in financial transactions with
        tool providers.</p>
</section>
</div>


<div class="container bar-bottom">
    <div class="bbtext display-6 font2">Create an Impact Lets find the tools </div>
    <div class="bbbutton"><a class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill font3"
            type="button">
            Lets Explore
        </a></div>

</div>

{% endblock %}