{% extends 'base.html' %}

{% block meta %}
<title>Search Result for {{name}} </title>
{% endblock %}


{% block body %}



<div class="container my-5 card-list search-list-card">
    <h2 class="text-center font2">Your Search Result : {{name}} </h2>
    <div class="cards">


        {% if data %}
        {% for item in data %}
        <div class="card" style="width: 18rem;">
            <img src=/{{ item.img }} class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title font2">{{ item.name }}
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16px" height="16px"
                        fill="#4CAF50">
                        <path
                            d="M 5 2 C 3.3545455 2 2 3.3545455 2 5 L 2 19 C 2 20.645455 3.3545455 22 5 22 L 19 22 C 20.645455 22 22 20.645455 22 19 L 22 11 L 20 11 L 20 19 C 20 19.554545 19.554545 20 19 20 L 5 20 C 4.4454545 20 4 19.554545 4 19 L 4 5 C 4 4.4454545 4.4454545 4 5 4 L 14 4 L 14 2 L 5 2 z M 20.472656 3.9140625 L 11.179688 13.765625 L 7.5078125 10.09375 L 6.09375 11.507812 L 11.220703 16.634766 L 21.927734 5.2871094 L 20.472656 3.9140625 z" />
                    </svg>
                </h5>
                <p class="card-text font3">{{ item.description }}</p>
                <a target="_blank" href={{ item.link }}
                    class="cardbtn d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill"><span>
                        Have a look </span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z" />
                        <path fill-rule="evenodd"
                            d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z" />
                    </svg></a>
            </div>
        </div>

        {% endfor %}
        {% else %}
        <h4>We have not find any matching tool related to your search. Try Searching with Different Keywords <br>
        <a class="btn btn-success btn-lg my-2" href="/" role="button">Search Again</a>
        <a class="btn btn-primary btn-lg my-2" href="/addlisting" role="button">List Your Ai Tool »</a>
        </h4>
        {% endif %}
    </div>
</div>
{% endblock %}